@*
    Main page where daily tasks are showed
*@
@model IEnumerable<DailyTask>

@{
    string date = ViewData["date"] as string;
}

<div class="container">
    <h1>Manage your daily Tasks</h1>
    <input id="datepicker" onchange="dateChanged()" class="form-control" type="date" value="@date" />
    @if (Model.Count() > 0)
    {
        @*render daily tasks and report section*@
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Completed
                    </th>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Category
                    </th>
                    <th scope="col">
                        Duration
                    </th>
                    <th scope="col">
                        Effort
                    </th>
                    <th scope="col">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var dailyTask in Model) {
                    <tr>
                        <td>
                            @dailyTask.IsCompleted
                        </td>
                        <td>
                            @dailyTask.Date
                        </td>
                        <td>
                            @dailyTask.Name
                        </td>
                        <td style="background-color: @dailyTask.Category.HexColor">
                            @dailyTask.Category.Name
                        </td>
                        <td>
                            @dailyTask.Duration
                        </td>
                        <td>
                            @dailyTask.Effort
                        </td>
                        <td>
                            @if (dailyTask.Description?.Length > 15)
                            {
                                @dailyTask.Description.Substring(0, 15) <p>...</p>
                            }
                            else
                            {
                                @dailyTask.Description
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="d-flex align-items-start">
            <p>There aren't any tasks planned for today, please create them by pressing'</p>
            <button class="btn btn-success ml-2">Create Daily Task</button>
        </div>
    }
</div>